# Q1

In [2]:
n = 10000

total = n * (n + 1) / 2

print("Q1 Answer:", total)

Q1 Answer: 50005000.0

# Q2

In [5]:
# Cách 1: Dùng vòng lặp "for"

total = 0
for x in range(1, 101):
    total += x**3 + 3*x**2 + 5*x + 9

print("Q2 Answer:", total)

Q2 Answer: 26543700

In [4]:
# Cách 2: Tách biểu thức thành từng phần và áp dụng công thức tổng

# Số lượng phần tử
n = 100

# Tính từng tổng riêng biệt theo công thức:
sum_x = n * (n + 1) // 2
sum_x2 = n * (n + 1) * (2 * n + 1) // 6
sum_x3 = (n * (n + 1) // 2) ** 2
sum_const = 9 * n

# Tính tổng toàn bộ biểu thức: ∑(x^3 + 3x^2 + 5x + 9)
total = sum_x3 + 3 * sum_x2 + 5 * sum_x + sum_const

print("Q2 Answer:", total)

Q2 Answer: 26543700

# Q3

In [6]:
def reverse(xlist):
    reversed_list = []
    for i in range(len(xlist)-1, -1, -1):
        reversed_list.append(xlist[i])
    return reversed_list

# Test samples
print("Q3 Example 1:", reverse([10, 20, 30, 40, 50]))
print("Q3 Example 2:", reverse(["cat", "dog", "lion", "tiger"]))

Q3 Example 1: [50, 40, 30, 20, 10]
Q3 Example 2: ['tiger', 'lion', 'dog', 'cat']